* {
  box-sizing: border-box;
}

.showcase {
  background-color: rgb(221, 175, 89);
  /* padding: 5px 5px; */
  border-radius: 20px;
  color: #777;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 650px;
  margin: 5% 30%;
  justify-content: center;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  text-align: center;
}

/* .showcase li {
  /* margin-left: 10px; */
/* font-size: 18px; *
  border: none;
  /* background:rgb(235, 205, 151); *

  text-align: center;
} */

button {
  padding: 10px 20px;
  border-radius: 20px;
  width: fit-content;
  border: transparent;
  background-color: rgb(221, 175, 89);
  font-size: 18px;
}

button:focus {
  transform: scale(1);
  background: rgb(180, 226, 12);
}

/* .body-container {
  justify-items: center;
  display: flex;
  padding: 50px 100px 100px 100px;
} */

/* Remove extra left and right margins, due to padding */
/* .row {
    margin: 0 -5px;
  }
   */
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: fit-content;
  padding: 15px 20px;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  text-align: left;
  background-color: rgb(31, 29, 29);
  color: #f8f8f8;
  border-radius: 1rem;

  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  --padding: 0.5px;
  padding: var(--padding);
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: " ";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: 0;
  background: rgb(93, 212, 93);

  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

img {
  width: 100%;
  border-radius: 1rem;
  display: flex;
}



.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 1300px;
  grid-template-columns: repeat(5, 250px);
  gap: 80px;
  padding: 30px;
}

@media (hover) {
  .card-content {
    transform: translateY(53%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition: transform 500ms ease;
    transition-delay: 500ms;
  }
  .card-title::after {
    transform: scaleX(0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* background: rgb(211, 38, 188); */
  }
  .showcase {
    width: 350px;
    margin: 5% 4%;
  }
  button {
    font-size: 9px;
  }
  .text-line {
    font-size: 55px;
    margin: 0%;
  }

  .card-title {
    font-size: 25px;
  }
  .card-content {
    font-size: 13px;
  }
  .btn{
    text-align: center;
    font-size: 5px;
    top: 10px;
    right: 15px;
    border-radius: 60px;
    background-color: red;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows:  repeat(50px); */
    gap: 20px;
    /* background: green; */
  }
  .showcase {
    width: 400px;
    margin: 5% 20%;
  }
  button {
    font-size: 12px;
  }
  .card-title {
    font-size: 25px;
  }
  .card-content {
    font-size: 13px;
  }
  .text-line {
    font-size: 90px;
  }
  .btn{
    text-align: center;
    font-size: 5px;
    top: 10px;
    right: 15px;
    border-radius: 60px;
    background-color: red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* background-color: red; */
  }
  .showcase {
    width: 450px;
    margin: 5% 20%;
  }
  .btn{
    text-align: center;
    font-size: 10px;
    top: 20px;
    right: 15px;
    border-radius: 60px;
    background-color: red;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    /* background-color: rgb(73, 42, 209); */
    /* grid-template-rows: 100px 1fr; */
  }

  .showcase {
    width: 450px;
    margin: 5% 25%;
  }
  .text-line {
    font-size: 120px;
  }
  .btn{
    text-align: center;
    font-size: 10px;
    top: 20px;
    right: 15px;
    border-radius: 60px;
    background-color: red;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
    /* background-color: rgb(194, 206, 23); */
    /* grid-template-rows: 100px 1fr; */
  }

  .showcase {
    width: 650px;
    margin: 5% 24%;
  }
  button {
    font-size: 15px;
  }
  .btn{
    text-align: center;
    font-size: 15px;
    top: 20px;
    right: 15px;
    border-radius: 60px;
    background-color: red;
  }
}
