/* #grad1 {
  height: 200px;
 
  background-image: linear-gradient(
    rgb(77, 73, 73),
    rgb(226, 222, 166),
    rgb(77, 73, 73)
  );
} */

* {
  box-sizing: border-box;
}

.title-container {
  background: #f8f8f8;
  display: flex;
  align-items: center;
  /* height: 90vh; */
}

.text-line {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 5s linear forwards, filling 5s ease-in forwards;
  font-size: 80px;
}

.text-line text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: 10px 10px 10px rgb(150, 16, 177);
  /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes example {
}

@keyframes filling {
  /* 0%, 90% { fill: #000; fill-opacity: 0; }
    100% { fill: rgb(172, 27, 27); fill-opacity: 1; } */
  0% {
    fill: rgb(161, 83, 185);
  }
  25% {
    fill: rgb(80, 80, 170);
  }
  50% {
    fill: rgb(47, 169, 173);
  }
  100% {
    fill: rgb(78, 195, 241);
  }
}

.body-container {
  justify-items: center;
  display: flex;
  padding: 50px 75px 95px 100px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 15px 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #2c2a2a;
  color: #f8f8f8;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
  border-radius: 1rem;
}
